exportPattern("^[[:alpha:]]+")

import(keras)
import(survival)
import(tensorflow)

importFrom("graphics", "abline", "plot", "title")
importFrom("methods", "is")
importFrom("stats", "approx", "model.frame", "model.matrix", "model.response", 
           "predict")

#importFrom("keras", "predict")

S3method(deepAFT, default)
S3method(deepAFT,  formula)

S3method(plot, deepAFT)
S3method(predict, deepAFT)
S3method(print, deepAFT)
S3method(residuals, deepAFT)
S3method(survfit, deepAFT)

